<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
  </head>
  <body>
    <nav class="navbar navbar-inverse">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#mynav">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="{% url 'home' %}">Justin's Blog</a>
        </div>
        <div class="collapse navbar-collapse" id="mynav">
          <ul class="nav navbar-nav">
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="http://www.twitter.com/J_M_Lawrence" target="_blank">Twitter</a></li>
          </ul>
      </div>
    </nav>
    <div class="container">
      <h1>About me!</h1>
      <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet et ea omnis repellat qui rem? Accusantium assumenda eaque officia rem corporis adipisci, quod necessitatibus illum nulla ex velit pariatur quidem!</p>
    </div>
  </body>
</html>
